apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "username": "administrator@vsphere.local",
      "password": "Bpovtmg1!"
      "vsphere_server": "10.100.100.2"
      "allow_unverified_ssl": true
    }
